absl-py==2.1.0
asttokens==2.4.1
attrs==23.2.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
exceptiongroup==1.2.1
executing==2.0.1
flatbuffers==24.3.25
fonttools==4.53.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
ipython==8.25.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mediapipe==0.10.14
ml-dtypes==0.4.0
moviepy==1.0.3
numpy==2.0.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
proglog==0.1.10
prompt_toolkit==3.0.47
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sounddevice==0.4.7
stack-data==0.6.3
threadpoolctl==3.5.0
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
